# SECRET_KEY
SECRET_KEY=****************************************************************

# DEBUG
DEBUG=*******

# Windows использует кодировку CP1251 вместо UTF-8.
PYTHONIOENCODING=utf-8

# DATABASES
DB_NAME=***************
DB_USER=*************
DB_PASSWORD=*************
DB_HOST=localhost
DB_PORT=0000
DB_HOST_PORT=0000

# Celery
CELERY_BROKER_URL=redis://**********:0000/0
CELERY_RESULT_BACKEND=redis://*********:0000/0

# Telega токен доступа
TELEGRAM_BOT_TOKEN=*********************************************